<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aloha.server.mapper.BoardMapper">

    <!-- 목록 -->
    <select id="list" resultType="Board">
        SELECT *
        FROM board
    </select>

    <!-- 조회 -->
    <select id="select" resultType="Board">
        SELECT *
        FROM board
        WHERE no = #{no}
    </select>

    <!-- 등록 -->
    <insert id="insert">
        INSERT INTO board ( content, title, writer )
        VALUES ( #{content}, #{title}, #{writer} )
    </insert>

    <!-- 수정 -->
    <update id="update">
        UPDATE board
           SET content = #{content}
              ,title = #{title}
              ,writer = #{writer}
              ,upd_date = now()
        WHERE no = #{no}
    </update>

    <!-- 삭제 -->
    <delete id="delete">
        DELETE FROM board
        WHERE no = #{no}
    </delete>

</mapper>